$color-red: #ff2020;
$color-black: #2d343e;
$color-button: #4a4a4b;
$primary-background :#ffffff;
$secondry-background : #f0f0f2;

nav {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}

.navbar-brand {
    font-size: 30px;

    span {
        color: #ff003c;
    }
}

.nav-item {
    a {
        padding: 0 10px;
        text-decoration: none;
        font-size: 16px;
        color: $color-black;
        background-color: $primary-background
    }

    .active {
        padding: 10px 10px;
        color: $color-red;
    }
}


@media only screen and (max-width: 600px) {
    .nav-item {
        margin: 8px 0;

        .navbar-nav {
            justify-content: space-evenly !important;
            align-content: space-around !important;
            flex-wrap: wrap !important;
            flex-direction: column !important;
            align-items: center !important;
        }

        a {
            margin: 10px 10px;
            text-decoration: none;
        }

        .active {
            padding: 10px 10px;
            color: white;
            background-color: $color-black;
            border-radius: 20px;
        }
    }

}